extends layout

block content
    h3=need.title
    p=need.body
    .author by <strong>#{need.author.name}</strong> posted <span class='timeago' title='#{moment(need.created_at).format('dd MMM YYYY hh:mm:ss')}'> #{moment(need.created_at).fromNow()}<span>


