extends layout

block content
    h3 #{need.title}
    if(need.status=='completed'&&((isOwner&&!need.va)||(isCurrentApplicant&&!need.vw)))
        .pull-right.btn-group.voting
            a.vote.btn.btn-success VOTE +5
            a.vote.btn.btn-danger VOTE -5
    if(need.status=='inProgress'&&(isCurrentApplicant||isOwner))
        if(isOwner && !need.ownerMarked)
            a.btn.btn-success.pull-right.markToComplete(href="/ownerMark/"+need._id) MARK AS COMPLETED
        else if(isCurrentApplicant && !need.applicantMarked)
            a.btn.btn-success.pull-right.markToComplete(href="/applicantMark/"+need._id) MARK AS COMPLETED
    div.text-warning
        case need.status
            when 'open'
                strong OPEN
            when 'inProgress'
                strong IN PROGRESS with #{need.currentApplicant.name}
            when 'completed'
                strong COMPLETED
                 span.timeago(title=moment(need.completedDate).format('dd MMM YYYY hh:mm:ss'))
                  |  #{moment(need.completedDate).from(need.createdAt)}
                 |  with the help of&nbsp;
                 a.btn.user(href='/user/'+need.currentApplicantId)=need.currentApplicant.name+' | '+need.currentApplicant.needRating

    p.needBody=need.body


     if(need.status!='completed'&&everyauth.userId && !isOwner)
        div
        if(need.applied.indexOf(everyauth.userId)==-1)
          a.btn.apply(href='/applyfor/'+need._id) Apply for it!
        else
          a.btn.btn-danger.apply(href='/cancelfor/'+need._id,class=) Cancel request


    if(need.status!='completed'&&appliedUsers.length)
        div
            p.text-info The following users are interested to help:
            br
            each applicant in appliedUsers
                if(isOwner && need.status=='inProgress' && need.currentApplicant.id == applicant.id)
                    a.btn.btn-danger(href='/dismissApplicant/'+need._id,title='End working with this person?')=applicant.name+' | '+applicant.needRating
                else if(isOwner)
                    a.applicant.btn.btn-warning(href='/accept/'+applicant.id+'/'+need._id,title='Accept this person?')= applicant.name+' | '+applicant.needRating
                else
                    a.btn.disabled(href='#')=applicant.name+' | '+applicant.needRating

    .author created by <strong class="text-info"><a href="/user/#{need.author.id}">#{need.author.name}</a></strong> posted <span class='timeago' title='#{moment(need.createdAt).format('dd MMM YYYY hh:mm:ss')}'> #{moment(need.createdAt).fromNow()}<span>
    .clearer
    br
    hr

    .commentWrapper
        .comments
            if(need.comments)
                each comment in need.comments
                  .comment
                    span.comment= comment.body+' – '
                    strong.commentBy= comment.author.name + ' '
                    span.commentCreatedAt.timeago(title=moment(comment.createdAt).format('DD MMM YYYY hh:mm:ss'))= moment(comment.createdAt).fromNow()
                  hr

        .addComment
            |Add comment
            form.inline(method='POST',action='/addComment')
                input(type='hidden',name='_id',value=need._id)
                textarea.span10(name='comment',required,validationMessage='Some text is required!')
                input.btn-primary.btn(type='submit', valye='Comment')


block scripts
    script
        $('.apply').click(function(e){
            e.preventDefault();
            var link = $(this);
            var url = link.attr('href');

            if(url.indexOf('applyfor')!=-1){
                $.get(url,function(){
                    link.html('Cancel request');
                    link.addClass('btn-inverse');
                    url = url.replace('applyfor','cancelfor');
                    link.attr('href',url);
                })
            }
            else{
                $.get(url,function(){
                    link.html('Apply for it!');
                    link.removeClass('btn-danger');
                    url = url.replace('cancelfor','applyfor');
                    link.attr('href',url);
                })
            }
        })

        $('.markToComplete').click(function(e){
            e.preventDefault();
            var link = $(this);
            var url = link.attr('href');
            $.get(url,function(){
                link.fadeOut()
            })
        })

        $('.vote').click(function(e){
            var btn = $(this);
            if(btn.is('.btn-success')){
                $.get('/vote/#{need._id}/up',function(res){
                    $('.voting').fadeOut();
                })
            }
            else{
                $.get('/vote/#{need._id}/down',function(res){
                    $('.voting').fadeOut();
                })
            }
        })


